*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
#navbar{
    height:auto;
    width:100%;
    border:2px solid;
}
#total{
    width:94%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
  }
#afternav_sephora{
    display:flex;
    margin-top:20px;
    margin-left:30px;
  }
  #afternav_sephora>:first-child>a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.593);
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px; 
    margin-right:10px;
    cursor:pointer;
  }
  #afternav_sephora>:last-child{
    color:rgb(243, 115, 136);
    margin-left:10px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
#middlediv{
    width:100%;
    display:flex;
    margin-top:60px;
}
/* sort div css */
#sortdiv{
    display: flex;
    justify-content: flex-end;
    margin-top:25px;
    gap:15px;
    font-weight: 600;
}
#h4category{
    margin-bottom:15px;
}
#sortselect{
    margin-top:-13px;
    border:2.5px solid black;
    padding:10px 40px 10px 5px;
}

#leftsidebar{
    margin-top:-90px;
    width:23%;
    height:2500px;
    /* border:1px solid; */
    font-family: Arial, Helvetica, sans-serif;
}
.spantag{
    margin-left:10px;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.665);
}
.checkboxclass{
    margin-bottom:20px;
}
#onsalediv{
    width:100%;
    height:40px;
    padding-top:19px;
    color:rgba(29, 22, 12, 0.679);
    border-top: 0.6px solid rgba(128, 128, 128, 0.206);
    border-bottom: 0.6px solid rgba(128, 128, 128, 0.234);
}

.filterbutton{
    width:90%;
    height:40px;
    background-color: white;
    border:2px solid;
    margin-bottom:23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}
.filterbutton>div:first-child{
font-size: 16px;
margin-left: 24px;
}
.filterbutton>div:last-child{
    font-size: 26px;
    font-weight: 500;
    margin-right: 24px;
}

#Bigcontainer{
    width:100%;
    height:auto;
    /* border:1px solid teal; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin-top: -30px;
}
.eachdiv{
    text-align: center;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; 
    cursor:pointer;
}
#productname{
    font-weight: 500;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.582);
    margin-top:10px;
    margin-bottom:13px;
}
#brandname{
    color:black;
    text-align: center;
}
.eachdiv>img{
    width:70%;
    height:auto;
    margin:auto;
}
/* offerdiv css */
.offerdiv{
    width:24%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    margin-top:0px;
    color:rgb(229, 9, 116);
  }
  .offerdiv>img{
    width:27%;
    height:22px;
    margin-top:-0px;
    margin-left:-3px;
  }
  #addtobagid,#addtofavid{
   font-weight: 800;
  }
/* addtoCart div e add hbe */
.eachdiv{
    position:relative;
  }
  .cartdiv{
    display:flex;
    width:94%;
    margin:auto;
    padding:10px 10px;
    height:auto;
    position :absolute;
    bottom:0%;
    opacity:0;
    transition: 700ms;
  }
  .eachdiv:hover .cartdiv{
    bottom:32%;
    opacity:1;
    background-color: aqua;
    color:white;
  }
  .cartdiv>div{
    margin-left:10px;
    border:0px solid blue;
  }
  .cartdiv>div>img{
    width:30%;
    margin-bottom: 6px;
  }
  .cartdiv>div>h5{
    margin:-4px;
    text-align: center;
    font-size: 13px;
}
/* add to cart css end */
/* lower css+footer css */
#btn{
    text-align: center;
    margin-top:40px;
    margin-bottom:20px;
    cursor:pointer;
}
#back-to-top-btn{
    background-color: rgb(175, 215, 32);
    border:none;
    padding:17px 30px 17px 30px;
    font-size: 15px;
    cursor:pointer;
}
#enter-email-div{
    font-family: Arial, Helvetica, sans-serif;
    height:auto;
    width:100%;
    background-color: rgb(235, 231, 226);
}
#enter-email-div>h2{
    text-align: center;
    padding-top:40px;
    margin-bottom:10px;
}
#enter-email-div>div{
    text-align: center;
    padding-bottom: 12px;
}
#inputtag{
    padding:14px 90px 14px 10px;
    border:none;
}
#subscribe-btn{
    margin-right:0px;
    border: none;
    padding:10px 20px 11px 20px;
    color:white;
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.826);
}
#lower-details{
    text-align: center;
    height:auto;
    width:90%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}
.big{
    font-size: 14px;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.613);
}
.small{
    font-size: 12px;
    margin:10px;
    color: rgba(0, 0, 0, 0.588);
}
#footerdiv{
    width:98%;
    margin:auto;
    height:500px;
    border:0px dashed rgb(68, 255, 0);
}
#priceId{
    margin-bottom:10px;
  }