*{
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

  #total{
    width:90%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  #afternav_sephora{
    display:flex;
    margin-top:20px;
  }
  #afternav_sephora>:first-child>a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.593);
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px; 
    margin-right:10px;
    cursor:pointer;
  }
  #afternav_sephora>:last-child{
    color:rgb(243, 115, 136);
    margin-left:10px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
  }
  #best-of-skincare{
    margin-top:35px;
  }
  #best-of-skincare>a>img{
    width:100%;
  }
  #middlediv{
    width:100%;
    display:flex;
    margin-top:40px;
  }
  #leftsidebar{
    width:26%;
    height:2500px;
    border:0px solid;
    font-family: Arial, Helvetica, sans-serif;
  }
  #rightsidebar{
    width:74%;
    height:auto;
    border:0px solid teal;
  }
  #leftsidebar>h3{
    font-size:15px;
    margin-bottom:15px;
  }
  #leftsidebar>p{
    margin-bottom:15px;
    font-size: 13px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.677);
    cursor:pointer;
  }
.showimage>img{
    width:100%;
}
.viewall{
    margin-top:20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: flex-end;
}
.viewall>a{
    text-decoration:none;
    color:black;
    cursor:pointer;
    font-size: 15px;
    font-weight: 600;
    margin-right: -10px;
}
.show-product-div{
    width:100%;
    height:auto;
    border:0px solid blue;
    display:flex;
    position:relative;
    margin-bottom:30px;
    transition: 1000ms;
}
.show-product-div>div:first-child{
    position:absolute;
    top:150px;
    font-size: 30px;
    font-weight: 800;
    color:rgba(0, 0, 0, 0.374);
    cursor:pointer;
}
.show-product-div>div:last-child{
    position:absolute;
    top:150px;
    right:0px;
    font-size: 30px;
    font-weight: 800;
    color:rgba(0, 0, 0, 0.374);
    cursor:pointer;
    
}
.each-show-product-div{
    width:93%;
    height:auto;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:10px;
    border:0px solid rgb(30, 0, 255);
    
    
}
.each-show-product-div>div{
  cursor:pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 7px;
}
.each-show-product-div>div>img{
    width:100%;
    margin:auto;
}
.productdivprice{
  text-align: center;
  margin-bottom:5px;
  color:rgb(0, 0, 0);
  font-weight: 600;
}
.brandname{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:8px;
}
.productname{
  text-align: center;
  font-size: 13px;
  margin-bottom:8px;
  color:rgba(0, 0, 0, 0.645);
}
.myprice{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:13px;
}
/* offerdiv css */
.offerdiv{
  width:34%;
  margin:auto;
  display:flex;
  justify-content: space-between;
 
  color:rgb(220, 15, 69);
}
#offericonimg{
  margin-top:-2px;
  margin-left:-3px;
  width:25%;
  height:20px;
}
#offerword{
  font-weight: 700;
}

/* addtoCart div e add hbe */
.each-show-product-div>div{
  position:relative;
}
.cartdiv{
  display:flex;
  width:90%;
  margin:auto;
  padding:10px 10px;
  height:auto;
  position :absolute;
  bottom:20%;
  opacity:0;
  transition: 700ms;
}
.each-show-product-div>div:hover .cartdiv{
  bottom:38%;
  opacity:1;
  background-color: aqua;
  color:white;
}
.cartdiv>div{
  margin-left:10px;
  border:0px solid blue;
}
.cartdiv>div>img{
  margin-left:30%;
  width:30%;
  margin-bottom: 6px;
}
#shopnowid,#addfavid{
  margin:-4px;
  text-align: center;
  font-size: 13px;
}
/* lower css+footer css */
#btn{
    text-align: center;
    margin-top:60px;
    margin-bottom:20px;
}
#back-to-top-btn{
    background-color: rgb(175, 215, 32);
    border:none;
    padding:17px 30px 17px 30px;
    font-size: 15px;
}
#enter-email-div{
    font-family: Arial, Helvetica, sans-serif;
    height:auto;
    width:100%;
    background-color: rgb(235, 231, 226);
}
#enter-email-div>h2{
    text-align: center;
    padding-top:40px;
    margin-bottom:10px;
}
#enter-email-div>div{
    text-align: center;
    padding-bottom: 12px;
}
#inputtag{
    padding:14px 90px 14px 10px;
    border:none;
}
#subscribe-btn{
    margin-right:0px;
    border: none;
    padding:10px 20px 11px 20px;
    color:white;
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.826);
}
#lower-details{
  padding-top:20px;
    text-align: center;
    height:auto;
    width:90%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}
.big{
    font-size: 14px;
    margin-bottom:10px;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.613);
}
.small{
    font-size: 12px;
    margin-bottom:10px;
    color: rgba(0, 0, 0, 0.588);
}
#footer{
    width:98%;
    margin:auto;
    height:auto;
    border:0px dashed rgb(68, 255, 0);
}