#slide1{
    width:100%;
    height:600px;
    margin: auto;
    border: 1px solid;

}
#slide1>img{
    width:100%;
    height:100%;
}
#slide1>img:hover{
    cursor: pointer;
}
#opt1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width:90%;
    gap:30px;
    margin: auto;
    margin-top: 40px;

}
#opt1>div{
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
   font-size: 15px;
}
#opt1>div:hover{
    cursor: pointer;
}
#trnd1{
    width:98%;
    height: 180px;
    margin: auto;
    margin-top: 30px;
}
#trnd1>img{
    width:100%;
    height: 100%;
}
#trnd1>img:hover{
    cursor: pointer;
}
#hd1{
    width:100%;
    height: 100px;
    margin: auto;
    margin-top: 50px;
}
#hd1>img{
    width: 100%;
    height:100%;

}
#hd1>img:hover{
    cursor: pointer;
}
#img1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:90%;
    margin: auto;
    margin-top: 40px;
    gap:20px;
}
#img1>div>img{
    width:100%;
    height: 80%;
}
#img1>div{
    text-align: center;
}
#img1>div:hover{
    cursor: pointer;
}
#hd2{
    width:98%;
    height: 100px;
    margin: auto;
    margin-top: 30px;
}
#hd2>img{
    width:100%;
    height: 100%;
}
#hd2>img:hover{
    cursor: pointer;
}
#main{
    display: flex;
    width:95%;
    height:300px;
    margin: auto;
    margin-top: 40px;
}
#m1{
    width:30%;
    height: 100%;
    margin: auto;
}
#m2{
    width:50%;
    height: 100%;
   margin: auto;
}
#box{
  width:100%;
  height: 90%;
  text-align: center;
}
#box>img{
    width:50%;
    height: 70%;
}
#box>img:hover{
    cursor: pointer;
}

#m1>button{
  margin-left: 145px; 
}
#m1>button:hover{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#m2>iframe{
width:100%;
height: 95%;

}
#m2>iframe:hover{
cursor: pointer;
}
#trnd2{
width: 100%;
height: 100px;
margin-top: 60px;
}
#trnd2>img{
width: 100%;
height: 100%;
}
#trnd2>img:hover{
cursor: pointer;
}
#hd3{
    width:98%;
    height: 90px;
    margin: auto;
    margin-top: 30px;
}
#hd3>img{
    width:100%;
    height: 100%;
}
#hd3>img:hover{
    cursor: pointer;
}
#img2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    width:90%;
    margin: auto;
}
#img2>div>img{
    width:100%;
    height: 100%;
}
#img2>div>img:hover{
    cursor: pointer;
}
#hd4{
    width:98%;
    height: 90px;
    margin: auto;
    margin-top: 30px;
}
#hd4>img{
    width:100%;
    height: 100%;
}
#hd4>img:hover{
    cursor: pointer;
}
#main2{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    width:90%;
    margin: auto;
    gap:20px;

}
#main2>div{
    text-align: center;
}
#main2>div:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#main2>div>img{
  width:90%;
  height: 70%;
}
#main2>div>img:hover{
    cursor: pointer;
}
#main2btn{
    text-align: center;
}
#hd5{
    width:98%;
    height: 90px;
    margin: auto;
    margin-top: 30px;
}
#hd5>img{
    width:100%;
    height: 100%;
}
#hd5>img:hover{
    cursor: pointer;
}
#trnd3{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    margin-top: 40px;
}
#trnd3>div>img{
    width:100%;
    height: 100%;
}
#trnd3>div>img:hover{
    cursor: pointer;
}
#hd6{
    width:98%;
    height: 90px;
    margin: auto;
    margin-top: 30px;
}
#hd6>img{
    width:100%;
    height: 100%;
}
#hd6>img:hover{
    cursor: pointer;
}
#img3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
   margin: auto;
    width:95%;
    margin-top: 40px;

}
#img3>div>img{
    width:100%;
    height: 100%;
}
#img3>div>img:hover{
    cursor: pointer;
}
#img4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
   margin: auto;
    width:95%;
    margin-top: 40px;
    margin-bottom: 100px;
}
#img4>div>img{
    width:100%;
    height: 100%;
}
#img4>div>img:hover{
    cursor: pointer;
}